<div class="side bar">

<a class="navbar-brand" href="home.component.html">HOME</a>

</div>
<div class="header">
    <h1>ASPIRING WEB DEVELOPER</h1>
</div>
<div class="context">
    <img src="../../assets/me.png" alt="Me" class="pic">
    <p class="text">
      <span>I'm Kristine Casala, a senior high student who recently graduated. I may only have few knowledge about web developing.</span><br>
      <span> I'm still in the learning process where I want to achieve my goal, which is to create a website.</span><br>
      <span>And to create an application that can be useful in to our life.</span>
    </p>
</div>